version: '3'

services:
  oss-toolbox:
    image: kaiyuanshe/oss-toolbox:slim
    ports:
      - 3002:3000
    healthcheck:
      test: ['CMD-SHELL', 'curl -f http://localhost:3000/ || exit 1']
      interval: 3s
      retries: 5
      start_period: 30s
    labels:
      - 'autoheal=true'
    restart: always
    deploy:
      resources:
        limits:
          cpus: '0.80'
          memory: 500M
    logging:
      driver: 'json-file'
      options:
        max-size: '10m'
